.nav {
  height: 70px;
  padding: 5px;
  background-color: lightblue;
}

.profileCard {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileCard .profileImgBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profileCard .profileImgBio .imgDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileCard .profileImgBio .imgDiv img {
  height: 300px;
  width: 300px;
  border-radius: 172px;
}

.profileCard .profileImgBio .userInfo {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profileCard .profileImgBio .userInfo .username {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileCard .profileImgBio .userInfo .username span {
  font-size: xx-large;
}

.profileCard .profileImgBio .userInfo .locationBioDiv {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.profileCard .profileImgBio .userInfo .location {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  background-color: aliceblue;
}

.profileCard .profileImgBio .userInfo .location .placeBold {
  font-size: x-large;
  font-weight: 700;
}

.profileCard .profileImgBio .userInfo .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  border: 2px solid black;
  width: 300px;
}

.profileCard .profileImgBio .userInfo .bio .bioBold {
  font-size: x-large;
  font-weight: 700;
}

.profileCard .profileImgBio .userInfo .bio .createdAt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileCard .repoFollowData .followDetailsCount {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
}

.profileCard .repoFollowData .followDetailsCount .followersCount {
  font-size: xxx-large;
  height: 100px;
  width: 100px;
  background-color: wheat;
  border-radius: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileCard .repoFollowData .followDetailsCount .followingCount {
  height: 100px;
  font-size: xxx-large;
  width: 100px;
  background-color: wheat;
  border-radius: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileCard .repoFollowData .followDetailsCount .publicReposCount {
  height: 100px;
  font-size: xxx-large;
  width: 100px;
  background-color: wheat;
  border-radius: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileCard .repoFollowData .followDetails {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileCard .repoFollowData .followDetails .followers {
  font-weight: 700;
  font-size: x-large;
}

.profileCard .repoFollowData .followDetails .following {
  font-weight: 700;
  font-size: x-large;
}

.profileCard .repoFollowData .followDetails .publicRepos {
  font-weight: 700;
  font-size: x-large;
}

.profileCard .repoFollowData .repoNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  padding: 25px;
  height: 472px;
}

.profileCard .repoFollowData .repoNames span {
  padding: 15px;
  margin-bottom: 12px;
  font-size: x-large;
  border-radius: 10px;
  width: 500px;
  height:472;
  border: 1px solid black;
  background-color: lavenderblush;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=githubProfile.css.map */