@import "variables";
@mixin size($height, $padding) {
  height: $height;
  padding: $padding;
}
.nav {
  @include size(70px, 5px);
  background-color: $navBarBackground;
}
.profileCard {
  margin-top: 50px;
  height: 900px;
  display: flex;
  justify-content: center;

  .profileImgBio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
    .imgDiv {
      display: flex;
      justify-content: center;
      img {
        height: 300px;
        width: 300px;
        border-radius: 172px;
      }
    }
    .userInfo {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .username {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        span {
          font-size: xx-large;
        }
      }
      .locationBioDiv {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .location {
        align-items: center;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        background-color: aliceblue;
        .placeBold {
          font-size: x-large;
          font-weight: 700;
        }
      }
      .bio {
        background-color: whitesmoke;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: center;
        border: 2px solid black;
        width: 300px;
        .bioBold {
          font-size: x-large;
          font-weight: 700;
        }
        .createdAt {
          display: flex;
        }
      }
    }
  }
  .repoFollowData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
    .followDetailsCount {
      align-items: center;
      display: flex;
      width: 600px;
      justify-content: space-around;
      height: 100px;
      .followersCount {
        font-size: xxx-large;
        height: 100px;
        width: 100px;
        background-color: wheat;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .followingCount {
        font-size: xxx-large;
        height: 100px;
        width: 100px;
        background-color: wheat;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .publicReposCount {
        font-size: xxx-large;
        height: 100px;
        width: 100px;
        background-color: wheat;
        border-radius: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .followDetails {
      height: 100px;
      display: flex;
      width: 600px;
      justify-content: space-around;
      align-items: center;
      .followers {
        font-weight: 700;
        font-size: x-large;
      }
      .following {
        font-weight: 700;
        font-size: x-large;
      }
      .publicRepos {
        font-weight: 700;
        font-size: x-large;
      }
    }
    .repoNames {
      height: 645px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      span {
        font-size: x-large;
        border-radius: 10px;
        height: 80px;
        width: 500px;
        border: 1px solid black;
        background-color: lavenderblush;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
